{% extends "site_base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h2>Register New Layer</h2>
<form id='register_url_form' method='post' action='/wmsb/register_url/'>
{% csrf_token %}
{{ register_form }}
<input type='submit' value='Register'>
</form>
{% endif %}

<center><h2>Latest Layers</h2></center>
{% for layer in layer_list.object_list  %}
<a href='/wmsb/layer/{{ layer.id }}'>{{ layer.title }}</a><br/>
{% endfor %}
<br/>
<div class="pagination">
    <span class="step-links">
        {% if layer_list.has_previous %}
            <a href="?page={{ layer_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ layer_list.number }} of {{ layer_list.paginator.num_pages }}.
        </span>

        {% if layer_list.has_next %}
            <a href="?page={{ layer_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
